<!DOCTYPE html>
<html>
<head>
	<style>

	</style>
  <title>FirstProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<ul class="nav navbar-nav">
           <li><a class="anchor" href="http://localhost:3000/users">Users</a></li>
           <li><a class="anchor" href="http://localhost:3000/orders">Orders</a></li>
           <li> <%= link_to 'Users', users_path %> </li>
           <li> <%= link_to 'Orders', orders_path %></li>
        </ul>
</nav>


<%= yield %>


</body>
</html>
